:root {
  --midnight-100: #1d1c2f;
  --midnight-50: #5b70ff;
  --sea-50: #6d64ff;
  --dandelion-100: #ffb71b;
  --sunset-100: #ff595a;
  --mint-100: #60edce;
}

html {
  font-size: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
